<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <#include "*/common/common.html">
</head>
<body class="page-body">
	<div class="page">
		<div class="page-header">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-sm btn-default"data-toggle="collapse" data-target="#s-s-1"><i class="fa fa-search"></i></button>
				</div>
			</div>
			<ol class="breadcrumb" style="margin: 0; padding: 5px 0;">
				<li><i class="fa fa-location-arrow"></i> 当前位置：</li>
				<li>用户管理</li>
				<li class="active">头像审核</li>
			</ol>
		</div>
		<div class="row-fluid">
			<div class="span12" id="projectlist"
				style="overflow-x: hidden; overflow-y: auto;">
				<div class="form-horizontal collapse" id="s-s-1">
					<div class="form-group form-group-sm">
						<label class="control-label col-xs-1">用户昵称：</label>
						<div class="col-xs-2">
							<input type="text" id="getNickName" name="getNickName"
								class="form-control" placeholder="请输入昵称">
						</div>
						<label class="control-label col-xs-1">头像审核进度：</label>
						<div class="col-xs-2" style="float:left;">  
							<select style="height:30px;width: 150px;" id="shjd">
							    <option value="" selected>无</option>
								<option value="1">审核中</option>
								<option value="2">审核通过（未读）</option>
								<option value="3">审核通过（已读）</option>
								<option value="4">审核失败（无法回滚，未读）</option>
								<option value="5">审核失败（无法回滚，已读）</option>
								<option value="6">审核失败（可回滚，未读）</option>
								
							</select>
						</div>
						<div class="col-xs-2 pull-right">
							<button type="button" class="btn btn-sm btn-warning btn-search">
								<i class="fa fa-search"></i> 查询
							</button>
							<button type="button" class="btn btn-sm btn-primary btn-cleanup">
								<i class="fa fa-refresh"></i> 重置
							</button>
						</div>
					</div>
				</div>
				<table id="project-grid-table"></table>
				<div id="project-grid-pager"></div>
			</div>
		</div>
	</div>

	<script type='text/javascript'>
var demo_monitor_grid;
$(function(){
	var bheight= screen.height*0.7+'px';
	document.getElementById("projectlist").style.height=bheight;
	var grid_selector = "#project-grid-table";
	var pager_selector = "#project-grid-pager";
	//初始化iframe
	Power.initIframe("${path!root}");
	
	//宽度自适应
	$(window).on('resize', function () {
		$(grid_selector).jqGrid( 'setGridWidth', $(".page").width() );
	 });
	
	demo_monitor_grid = jQuery(grid_selector).jqGrid({
		url:"avatarReviewQuery",
		datatype: "json",
		mtype: "POST",
		height: '100%',
		colNames:['ID','编号','昵称','手机号','头像','审核进度','注册日期','操作'],
		colModel:[
			{name:'ID',index:'id', align:'left',width:'10%',hidden:true,editable: false,sortable:false},	
			{name:'CODE',index:'code', align:'left',width:'10%',hidden:false,editable: false,sortable:false},
			{name:'NICKNAME',index:'nickname', align:'left',width:'10%',editable: false,sortable:false},	
			{name:'PHONE',index:'phone', align:'center',width:'10%',editable:false,sortable:false},
			{name:'ICON_URL',index:'icon_url', align:'center',width:'30%',editable:false,sortable:false, formatter:formatIcon},
			{name:'ICON_IS_VALIDATE',index:'icon_is_validate', align:'center',width:'10%',editable:false,sortable:false, formatter:formatSchedule},
			{name:'REGISTER_DATE',index:'register_date', align:'center',width:'15%',editable:false,sortable:false,formatter:formatTime},
			{name:'OPERATION',index:'operation',align:'center',sortable:false, width:'15%',editable: false,formatter:formatOperation}
		], 
		viewrecords : true,
		rowNum:5,
		rowList:[5,10,20,30],
		pager : pager_selector,
		altRows: true,
		forceFit: true,
		sortable:true,
		sortname:'CODE',
		sortorder: 'ASC',
		rownumbers:true,
		multiselect: false,
        multiboxonly: true,
		loadComplete : function() {
		},
		autoheight:true,
		autowidth: true
	});

	/**
	 * 格式化角色类型
	 */
	function formatTime(cellvalue, options, cell) {
		if(cellvalue!=null){
			var date = new Date(cellvalue);
			return date.format("yyyy-MM-dd");
		}
		return "";
	}

	/**
	 *格式化操作
	 */
	function formatOperation(cellvalue, options, cell){
		var id = cell["ID"];
		return "<span class='btn btn-primary btn-mini' onclick=verify('"+id+"_2')><i class='fa fa-pencil'></i>&nbsp;审核通过</span>&nbsp;<span class='btn btn-mini btn-danger' onclick=verify('"+id+"_3')><i class='fa fa-close'></i>&nbsp;不通过</span>&nbsp";
	};
	function formatTime(cellvalue, options, cell) {
		if(cellvalue!=null){
			var date = new Date(cellvalue);
			return date.format("yyyy-MM-dd HH:mm:ss");
		}
		return "";
	};
	function formatSchedule(cellvalue, options, cell){
		if(cellvalue != null){
			if(cellvalue == "0"){
				return "等待审核";
			}else if(cellvalue=="1"){
				return "审核中";
			}else if(cellvalue=="2"){
				return "审核通过（未读）";
			}else if(cellvalue=="3"){
				return "审核通过（已读）";
			}else if(cellvalue=="4"){
				return "审核失败（无法回滚，未读）";
			}else if(cellvalue=="5"){
				return "审核失败（无法回滚，已读）";
			}else if(cellvalue=="6"){
				return "审核失败（可回滚，未读）";
			}
		}
		return "审核中";
	};
	function formatIcon(cellvalue, options, cell){
		return '<img style="height:150px" src="'+cellvalue+'" alt="" />';
	};
	
	
});
	/**
	 *头像审核
	 */
	
	function verify(_id){
		var idStatus = _id.split("_");
		var cmd = new Power.command("console/userInfo", "post");
		cmd.setParameter("id", idStatus[0]);
		cmd.setParameter("status", idStatus[1]);
		var ret = cmd.execute("verifyIcon");
		if(!ret.error&&ret.state==1){
			Power.dialog.alertSuccess("更新成功!");
			demo_monitor_grid.trigger("reloadGrid");
			return true;
		}else{
			Power.dialog.alertError("更新失败!");
			return false;
		}
		
	};

	/**
	 * 条件查询
	 */
	$(".btn-search").click(function() {
		var obj = {};
		obj.getNickName = $("#getNickName").val();
		obj.shjd = $("#shjd").val();
		demo_monitor_grid.jqGrid("setGridParam", {
			search : true,
			postData : obj,
			page : 1
		}).trigger("reloadGrid");
	});

	/**
	 *重置参数
	 */
	$(".btn-cleanup").click(function() {
		var obj = {};
		$("#getNickName").val("");
		$("#shjd").val("1");
		obj.getNickName = "";
		obj.shjd = "1";
		demo_monitor_grid.jqGrid("setGridParam", {
			search : true,
			postData : obj,
			page : 1
		}).trigger("reloadGrid");
	});
</script>
</body>
</html>