<meta charset="utf-8">
<style>
	.ui-jqgrid{
		border-top:0px;
	}
	#gbox_bsp-base-resource-grid-table{
		border-top: 2px solid #1582dc;
	}
</style>
<div class="row-fluid" >
	<div class="span12" style="background-color:#F8F8FF ;border-right: 3px;border-top: 2px;padding-left: 2px; margin-top: 1px; height: 505px;">
        <div class="span9" style="margin-top: 5px; height: 500px;width:645px; overflow-y:auto;overflow-x:auto;">
	          <table id="bsp-friends-grid-table"></table>
	          <div id="bsp-friends-grid-pager"></div>
        </div>
	</div>
</div>
<script type='text/javascript'>
var friends_grid_table;
$(function(){
	var grid_selector = "#bsp-friends-grid-table";
	var pager_selector = "#bsp-friends-grid-pager";
	//初始化iframe
	Power.initIframe("${path!root}");
	//宽度自适应
	$(window).on('resize', function () {
		$(grid_selector).jqGrid( 'setGridWidth', $(".page").width() );
	 });
	friends_grid_table = jQuery(grid_selector).jqGrid({
		url: 'friendsQuery?userid='+'${userid!}',
		datatype: "json",
		mtype:"POST",
		height: '100%',
		colNames:['ID','编码','昵称','创建好友时间'],
		colModel:[
            {name:'ID',index:'id', align:'center',hidden:true,editable: false},
			{name:'CODE',index:'code', align:'center',width:'10%',hidden:false,editable: false},
			{name:'NICKNAME',index:'nickname', width:'20%',align:'left',editable:false,sortable:false},
			{name:'DATE',index:'date', align:'center',width:'20%',editable:false,sortable:true, formatter:formatTime}
		], 
		viewrecords : true,
		rowNum:10,
		rowList:[10,20,30],
		pager : pager_selector,
		altRows: true,
		forceFit: true,
		sortable:true,
		sortname:'CODE',
		sortorder: 'ASC',
		rownumbers: true,
		multiselect: false,
        multiboxonly: true,
		loadComplete : function() {
		},
		autoheight:true,
		autowidth: true
	});

	function formatTime(cellvalue, options, cell){
		if(cellvalue!=null){
			var date = new Date(cellvalue);
			return date.format("yyyy-MM-dd HH:mm:ss");
		}
		return "";
	};

});

</script>