<form id="project-frm" method="post"
	style="height: 150px; overflow-x: hidden; overflow-y: auto;">
	<div class="tab-content"
		style="padding: 5px; height: 150px; overflow-x: hidden; overflow-y: auto; 
			background: #fff; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd;">
		<div id="chatTags" class="tab-pane in active">
			<div class="panel-body no-padding">
				<table class="gritter-with-table " cellspacing="1">
					<tbody>
						<tr>
							<th><span style="color: red;">*</span>类型：</th>
							<td><select id='tagType' style="margin:auto;width:85%;height:30px;" datatype="*1-255" nullmsg="空" sucmsg=" ">
							 <#if typeList??>
								<#list typeList as item>
									<option value="${item.ID!}">${item.NAME!}</option>
								</#list>
							</#if>
							</select><div class="Validform_checktip"></div></td>
						</tr>
						<tr>
							<th><span style="color: red;">*</span>名称：</th>
							<td><input id="tagName" type="text" style="width: 85%"
								class="span3" datatype="*1-255" nullmsg="此项不能为空" sucmsg=" " />
								<div class="Validform_checktip"></div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
var name='${name!}';
var id='${id!}';
var tagType = '${type!}';

$(function(){
	$("#tagName").val(name);
	$("#tagType").val(tagType);
});


//提交初始化
var vl_frm = Power.form.validate("project-frm", "pub-project-add");

function submit() {
	if (vl_frm.check()) {
		if(name==$("#tagName").val()&&tagType==$("#tagType").val()){
			Power.dialog.alert("未修改数据!");
		}else{
			var cmd = new Power.command("console/tags", "post");
			cmd.setParameter("id", encodeURIComponent(id));
			cmd.setParameter("name", encodeURIComponent($("#tagName").val()));
			cmd.setParameter("type", encodeURIComponent($("#tagType").val()));

			var ret = cmd.execute("editInterestTags");
	    	if(!ret.error&&ret.state==1){
	    		Power.dialog.alertSuccess("修改成功!");
	    		return true;
	    	}else{
	    		Power.dialog.alertError("修改失败!");
	    		return false;
	    	}
		}
		
	}

}












</script>