body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, del, dfn, em, img, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, button, input, table, caption, tbody, tfoot, thead, tr, th, td, menu {margin:0;padding:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {display:block}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1}
audio:not([controls]) {display:none}
table {border-collapse:collapse;border-spacing:0;empty-cells:show}
ol, ul, menu {list-style:none}
img {border:0}
a:focus {outline:none}
em, i {font-style: normal;}
button, input, select, textarea {font-size:100%;margin:0;vertical-align:-3px;outline:none;}
button, input {border:1px solid;outline:none;line-height:normal;*overflow:visible}
button::-moz-focus-inner, input::-moz-focus-inner {border:0;padding:0}
button, input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer;-webkit-appearance:button}
input[type="search"] {-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none}
textarea {overflow:auto;vertical-align:top}
::selection {background:#72d0eb;color:#fff;text-shadow:none}
::-moz-selection {background:#72d0eb;color:#fff;text-shadow:none}
*[hidden] {display:none}

.clearfix:after, .central:after, .widget ul:after, .paging:after, .pagenav:after, .base-tit:after {content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix, .central, .widget ul, .paging, .pagenav, .base-tit {*+height:1%;}

/*window*/


/* input */
.ipt {border: solid 1px #d2d2d2;border-left-color:#ccc;border-top-color:#ccc;border-radius:2px;box-shadow:inset 0 1px 0 #f8f8f8;background-color: #fff;padding:4px 6px;height:42px;line-height:21px;color:#808080;width:456px;vertical-align:baseline;}
.ipt-mini {width:140px;padding:1px 3px;}
.ipt:focus {border-color:#95C8F1;box-shadow:0 0 4px #95C8F1;}

.theme-signin .btn { margin:0px 10px 0px 20px;}
input.btn {height:39px; color:#fff; font-size:18px;}
.btn-primary { width:100px;height:39px; text-align:center; background:#5186ca;border-radius:5px; padding:6px 0px; border:0px;}
.btn-primary:hover { width:100px; height:39px; text-align:center; background:#5186ca; color:#fff;border-radius:5px; border:0px;}


.theme-buy {margin-top:10%;text-align: center;}
.theme-gobuy, .theme-signin {font-size:18px;}
.theme-price {position: relative;bottom: -6px;font-family: microsoft yahei, Arial, Helvetica, sans-serif;margin-right: 20px;font-weight: bold;color: #f60;line-height: 32px;font-size: 24px;display: inline-block;}
.theme-price dfn {font-style: normal;font-size: 18px;margin-right: 2px;}
.theme-desc {padding: 30px;}
.theme-version {padding: 30px;}
.theme-popover-mask {z-index: 9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);display:none}
.theme-popover-mask-2 {z-index: 9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);display:none}
.theme-popover {z-index:9999;position:fixed;top:50%;left:50%;width:556px;margin:-180px 0 0 -330px;border-radius:5px;background-color:#fff;display:none;box-shadow: 0 0 10px #666;}
.theme-popover-2 {z-index:9999;position:fixed;top:50%;left:50%;width:556px;margin:-180px 0 0 -330px;border-radius:5px;background-color:#fff;display:none;box-shadow: 0 0 10px #666;}
.theme-poptit { background:#5186ca; color:#fff;padding:12px;position: relative;}
.theme-poptit-2 { background:#5186ca; color:#fff;padding:12px;position: relative;}
.theme-popbod {color:#444;height:320px;}
.dform {padding:20px 40px;text-align: center;}

.theme-popbom {padding:15px;background-color:#f6f6f6;border-top:1px solid #ddd;border-radius:0 0 5px 5px;color:#666}
.theme-popbom a {margin-left:8px}
.theme-poptit .close {float:right;color:#fff;padding:5px;margin:-2px -5px -5px;font:bold 18px/18px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover {color:#fff;}
.theme-poptit-2 .close {float:right;color:#fff;padding:5px;margin:-2px -5px -5px;font:bold 18px/18px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit-2 .close:hover {color:#fff;}
.btn.theme-reg {position: absolute;top: 8px;left: 43%;display: none}
.inp-gray, .feed-mail-inp {border:1px solid #ccc;background-color:#fdfdfd;width:220px;height:16px;padding:4px;color:#444;margin-right:6px}

.dform .ipt_error {background-color:#FFFFCC;border-color:#FFCC66}
.dform-tip {display:none;background-color:#080;color:#fff;line-height:42px;margin-top:10px;display:;font-size:14px;}
.dform-tip-errer {background-color: #CF301A;}
.dform-tip a {display:inline-block;padding 0 20px;margin-left:10px;background-color:#FFE924;color:#CF301A;}
.dform-login {padding:0;height:270px;overflow:hidden;}
.dform-login iframe {height:470px;margin-top:-180px;}

.theme-signin li {margin-bottom:20px;}
.theme-signin li strong {float: left;margin-left:-80px;width:80px;text-align:right;line-height:32px;}
.theme-signin p {font-size:12px;color: #999;}
.theme-desc, .theme-version {padding-top: 0}
