<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetu.tags.dao.MeetuChatTagsDao">
<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="chattagsmap" type="com.meetu.tags.domain.MeetuChatTags">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
		<result column="create_date" property="create_date" jdbcType="DATE" />
		
    </resultMap>
    <!-- 查询 -->
    <select id="selectById" parameterType="java.lang.String" resultMap="chattagsmap">
        select * from meetu_chat_tags where id = #{id}
    </select>
    <select id="selectAll" parameterType="java.lang.String" resultType="hashmap">
        select DISTINCT id,name,code from meetu_chat_tags
    </select>
    <!-- 插入对象 -->
	<insert id="insertOper" >
		insert into meetu_chat_tags (id,name,create_date) 
			values (#{id},#{name},#{create_date})
	</insert>
	
</mapper>