<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetu.tags.dao.MeetuNoLongerMatchDao">
    <resultMap id="chatListMap" type="com.meetu.tags.domain.MeetuNoLongerMatch">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="from_user_id" property="from_user_id" jdbcType="VARCHAR" />
        <result column="to_user_id" property="to_user_id" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="DATE" />
    </resultMap>

    <!-- 插入对象 -->
	<insert id="insertOper" >
		insert into meetu_nolongermatch (id,from_user_id,to_user_id,date) 
			values (#{id},#{from_user_id},#{to_user_id},#{date})
	</insert>
</mapper>